<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>利用開始・即時利用</title>
</head>
<body>
	<nav class="fixed w-full h-14 flex items-center justify-between bg-white shadow px-2 sm:px-5">
		<a>FOCS</a>
		<div class="flex items-center">
			<span th:text="${session_data}" class="mr-2 text-sm sm:text-base" />
			<button class="w-full px-1 h-10 bg-red-500 hover:bg-red-700 focus:ring ring-red-300 rounded-lg text-sm text-white">ログアウト</button>
		</div>
	</nav>
	
	<main class="min-h-screen">
		<div class="min-h-screen pt-14">
			<!-- もし、予約したマシンがある場合、予約分を繰り返し -->
			<div class="h-full flex flex-col p-10 items-center space-y-5 mb-20">

				<div class="flex justify-between sm:justify-around items-center w-full h-20 border rounded-lg shadow px-3">
					<div class="flex flex-col text-xs sm:text-base">
						<span>階数：13</span>
						<span>機種コード：13WSDSDA</span>
					</div>
					<button class="w-20 sm:w-24 h-8 sm:h-10 bg-green-500 hover:bg-green-700 focus:ring ring-green-300 rounded-lg text-xs sm:text-sm text-white">利用開始へ</button>
				</div>
				
				<div class="flex justify-between sm:justify-around items-center w-full h-20 border rounded-lg shadow px-3">
					<div class="flex flex-col text-xs sm:text-base">
						<span>階数：13</span>
						<span>機種コード：13WSDSDA</span>
					</div>
					<button class="w-20 sm:w-24 h-8 sm:h-10 bg-green-500 hover:bg-green-700 focus:ring ring-green-300 rounded-lg text-xs sm:text-sm text-white">利用開始へ</button>
				</div>
				
				<div class="flex justify-between sm:justify-around items-center w-full h-20 border rounded-lg shadow px-3">
					<div class="flex flex-col text-xs sm:text-base">
						<span>階数：13</span>
						<span>機種コード：13WSDSDA</span>
					</div>
					<button class="w-20 sm:w-24 h-8 sm:h-10 bg-green-500 hover:bg-green-700 focus:ring ring-green-300 rounded-lg text-xs sm:text-sm text-white">利用開始へ</button>
				</div>
				
				<div class="flex justify-between sm:justify-around items-center w-full h-20 border rounded-lg shadow px-3">
					<div class="flex flex-col text-xs sm:text-base">
						<span>階数：13</span>
						<span>機種コード：13WSDSDA</span>
					</div>
					<button class="w-20 sm:w-24 h-8 sm:h-10 bg-green-500 hover:bg-green-700 focus:ring ring-green-300 rounded-lg text-xs sm:text-sm text-white">利用開始へ</button>
				</div>
			</div>
			
			<!--　予約したマシンが存在しない場合、即時利用へ誘導する画面を表示 
				
			<div class="h-screen pb-24 flex flex-col justify-center items-center space-y-5 mb-20">
				<p class="text-lg px-2">予約が存在しません。</p>
				<p class="text-base px-2">すぐ利用したい場合は、</p>
				<button class="w-24 h-10 bg-green-500 hover:bg-green-700 focus:ring ring-green-300 rounded-lg text-sm text-white">即時利用へ</button>
			</div>
			-->
			
		</div>
	</main>
	
	<div class="fixed bottom-0 bg-white w-full h-20 flex items-center justify-around border-t">
		<button th:onclick="window.location.href='/top'" class="mx-3 w-full px-1 h-12 bg-gray-500 hover:bg-gray-700 focus:ring ring-gray-300 rounded-lg text-sm text-white">メニューへ戻る</button>
	</div>
</body>
</html>